@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
body{margin:0;font-family:'Inter',sans-serif;padding:0;margin:0;background:#fff;line-height:1.5}
*{box-sizing:border-box}
.maincnt{max-width:1280px;width:100%;margin:0 auto}
/* career job list start */
#career{background:#f8f8f8;height:100vh}h1{margin:0;padding:30px 0}
.ltSec{width:80%;overflow:hidden}
.rtSec{width:20%}
.carouselbg{width:100%;padding:15px 0}
.joblistitem{border-top:1px solid #888891;border-bottom:1px solid #888891;position:relative;display:flex}
#joblist{color:#fff;list-style-type:none;display:inline-flex;width:100%;-webkit-overflow-scrolling:touch;align-items:center}
#joblist li{color:#888891;margin:0 30px 0 0;display:inline-block;width:100%;white-space:nowrap;position:relative}
#joblist li:after{content:"";width:0;height:2px;position:absolute;bottom:-15px;left:0;transition:all ease-in 300ms}
#joblist li.act:after{width:100%;background:#f15a22;transition:all ease-in 300ms}
#jobcard dl{box-sizing:border-box;width:402px;height:190px;left:0;top:0;background:#FFF;border:1px solid #D7D7DA;border-radius:8px;justify-content:flex-start;display:inline-flex;flex-direction:column;align-items:flex-start;padding:30px;margin:10px}
#jobcard dl dt{font-weight:600;font-size:24px;line-height:140%;letter-spacing:-.01em;display:flex}
#jobcard dl dd,ul{margin:0;padding:0}#jobcard dl dd p{font-size:16px;line-height:140%;letter-spacing:-.01em;color:#202025}
#jobcard dl dd li{display:inline-flex;flex-direction:row;align-items:flex-start;padding:10px;gap:23px;height:36px;background:#F2F2F3;border-radius:8px;margin-right:5px}
#jobcard dl dd li a{font-weight:400;font-size:16px;line-height:100%;text-decoration:none;letter-spacing:-.01em;color:#56565D}
#joblist li.hidden{display:none}
.scroll-style::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);background-color:#F5F5F5;border-radius:5px}.scroll-style::-webkit-scrollbar{background-color:#F5F5F5;width:5px;height:5px}.scroll-style::-webkit-scrollbar-thumb{background-color:#a5a5a5}
#nextBtn{width:40px;height:100%;line-height:40px;position:absolute;right:20%;margin-right:-50px;cursor:pointer;top:0;z-index:555;background:#fff}#prevBtn{width:40px;height:100%;line-height:40px;position:absolute;left:0;margin-right:-50px;cursor:pointer;top:0;z-index:555;background:#fff}
.arrow{margin:0 0 0 10px;display:inline-block;height:12px;position:relative;width:12px}
.arrow::after{border-bottom-style:solid;border-bottom-width:2px;border-right-style:solid;border-right-width:2px;content:"";display:inline-block;height:12px;left:-7px;position:absolute;top:2px;width:12px}
.arrow.is-left{-moz-transform:rotate(315deg);-ms-transform:rotate(315deg);-webkit-transform:rotate(315deg);transform:rotate(315deg)}
.arrow.is-right{-moz-transform:rotate(140deg);-ms-transform:rotate(140deg);-webkit-transform:rotate(140deg);transform:rotate(140deg)}.arrow.is-right::after{top:-14px;left:-2px}.arrow::after{border-color:#000}
.arrow::before{background-color:#000}
.search-container{position:relative;display:inline-flex;margin:4px 2px;height:44px;width:100%;vertical-align:bottom;align-items:flex-start;justify-content:flex-end}
.mglass{display:inline-block;width:20px;height:20px;padding-top:6px}
.searchbutton{font-size:22px;width:100%;margin:0;padding:0}
.search:focus + .searchbutton{transition-duration:.4s;-moz-transition-duration:.4s;-webkit-transition-duration:.4s;-o-transition-duration:.4s;background-color:#fff;color:#000}
.search{position:absolute;right:30px;background-color:#fff;outline:none;border:none;padding:0;width:0;height:100%;z-index:10;transition-duration:.4s;-moz-transition-duration:.4s;-webkit-transition-duration:.4s;-o-transition-duration:.4s}
.search:focus{width:169px;padding:0 16px 0 0;text-indent:10px}
/* career job list end */


@media screen and (max-width: 767px){
    #jobcard{align-items:center;display:flex;flex-direction:column}
    #jobcard dl{box-sizing:border-box;width:94%}
    .rtSec{display: none;}
    .ltSec {width: 100%;}
    #nextBtn {right: 0;margin-right: 0;}
}